#mainname{
    animation: ZoomInOut ease-in-out 1.5s;
}
#work{
    animation: ZoomInOut ease-in-out 1.5s;
}
.icons{
    animation: ZoomInOut ease-in-out 1.5s;
}
@keyframes ZoomInOut {
    0%{
        transform: scale(25%);
    }
    100%{
        transform: scale(100%);
    }
    
}