* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    margin: 2rem auto;
    width:90%;
    height: 100%;
}
.nav{
    background-color: rgb(115, 161, 161);
    border-top-left-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
}
#name{
    padding-left: 30px;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: xx-large;

}
.mainnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 80%; 
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid brown; */
   
}
.mainnav a{
    border: 1px solid black;
    border-radius: 30px;
    padding: .1rem;
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
}
.mainnav a:hover{
    background-color: #AFAFAF;
    transform: scale(1.1);
    color: white;
}
#about{
    width: 3.8rem;
}
#skills{
    width: 3.5rem;
}
#exp{
    width: 5.8rem;
}
#edu{
    width: 5.8rem;
}
#portfolio{
    width: 5rem;
}
#contact{
    width: 4.5rem;
}
.mainnav a:link{
    text-decoration: none;
}
.bg{
    box-shadow: 10px gray;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./blackbg.jpg);
    background-size: cover;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;

}
#dp{
    background-image: url(./dp.jpg);
    background-size: cover;
  
    width: 15rem;
    height: 15rem;
    border: 10px solid rgb(255, 255, 255);
}
#mainname{
    color: white;
    text-align: center;
    width: 19rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    font-weight: 500;
    font-size: xx-large;

}
#work{
    color: white;
    text-align: center;
    width: 30rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    font-weight: 500;
    font-size: x-large;

}
.icons{
    margin-top: 50px;
    width: 10rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}
.icon i{
    font-size: x-large;
    color: white;
}
.downhire{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid white; */
}
.btndh{
    margin: auto auto;
    padding-top: 12px;
    text-align: center;
    /* border: 1px solid green; */
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
}

.downhire a:link{
    text-decoration: none;
}
.btndh a{
    color: white;
}
#download{
    position: relative;
    left: 14rem;

    border: 2px solid white;
}
#hire{
    position: relative;
    right: 14rem;
    background-color: rgb(55, 180, 230);
}