body{
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(160, 205, 205); */
    background-color: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    margin-top: 2rem;
    width:95%;
    height: 100%;
}
.nav{
    background-color: rgb(167, 230, 255);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
}
#name{
    padding-left: 30px;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 2.3rem;
    /* border: 1px solid brown; */


}
.mainnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 80%; 
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid brown; */
   
}
.mainnav a{
    border: 2px solid black;
    border-radius: 35px;
    padding: .1rem;
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
}
.mainnav a:hover{
    background-color: #000000;
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
#about{
    width: 4rem;
}
#skills{
    width: 3.7rem;
}
#exp{
    width: 6.4rem;
}
#edu{
    width: 6.2rem;
}
#portfolio{
    width: 5.5rem;
}
#contact{
    width: 5rem;
}
.mainnav a:link{
    text-decoration: none;
}
.bg{
    box-shadow: 10px gray;
    padding-bottom: 4rem;
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-color: rgb(160, 205, 205); */
    /* background-image: url(./blackbg.jpg); */
    background-size: cover;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    /* opacity: 80%; */

}
#dp{
    background-image: url(./dp.jpg);
    background-size: cover;
  
    width: 15rem;
    height: 15rem;
    border: 10px solid rgb(167, 230, 255);
    border-radius: 1rem;
}
#mainname{
    color: white;
    text-align: center;
    width: 19rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    font-weight: 500;
    font-size: xx-large;

}
#work{
    color: white;
    text-align: center;
    width: 30rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    font-weight: 500;
    font-size: x-large;

}
.icons{
    margin-top: 50px;
    width: 10rem;
    height: 3rem;
    /* border: 1px solid rgb(252, 177, 177); */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}
.icon i{
    font-size: x-large;
    color: white;
}
.downhire{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 1px solid white; */
}
.btndh{
    margin: auto auto;
    padding-top: 12px;
    text-align: center;
    /* border: 1px solid green; */
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
}

.downhire a:link{
    text-decoration: none;
}
.btndh a{
    color: white;
}
.btndh:hover{
    /* color: white; */
    background-color: white;
}
.btndh a:hover{
    color: black;
}
#download{
    position: relative;
    left: 12rem;

    border: 2px solid white;
}
#hire{
    position: relative;
    right: 12rem;
    background-color: rgb(55, 180, 230);
}